header {
	width: 100%;
	min-height: 1000px;
	background-image: url(../img/14370277547_19f78ab2e3_k.png);
	background-position: center 60%;
	z-index: 2;
}
.header-section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	min-height: 200px;
}
.header-menu ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}
.header-menu ul li {
	margin: 1rem;
}
.header-menu ul li a {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
}
.header-menu ul li a:hover {
	color: #00ccff;
	transition: 0.25s ease;
}
.header-middle {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 500px;
	margin-top: 5rem;
}
.header-middle h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	text-transform: uppercase;
	/*margin-left: 5rem;*/
	margin-bottom: 2rem;
}
.middle-logo img {
	width: 180%;
	height: auto;
}
.middle-text {
	width: 60%;
	margin-top: 6rem;
}
.middle-text p {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	text-align: center;
}
.scroll {
	margin-top: 3rem;
}
.scroll-btn {
	background-image: url(../img/scroll.png);
	width: 46px;
	height: 68px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	/*outline: none;*/
}
.figure {
	z-index: -1;
    position: absolute;
    bottom: -59%;
    right: 0;
    width: 0;
    height: 0;
    border-top: 10rem solid #00ccff;
    border-left: 60rem solid transparent;
}
.about-us {
	width: 100%;
	height: 100vh;
}
.about-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
}
.about-head h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 30px;
	color: #00ccff;
	text-transform: uppercase;
}
.about-head span {
	color: #ff9900;
}
.about-head p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
}
.about-desc {
	width: 50%;
	position: relative;
}
.about-desc p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-top: 5rem;
}
.about-desc::before {
	content: url('../img/Shape-2-copy-6.png');
	position: absolute;
    left: -100px;
    top: 25px;
}
.about-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: flex-start;
	align-items: center;
	flex-direction: column;
	margin-top: 5rem;
}
.about-nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}
.about-nav button {
	background-color: transparent;
	border: none;
	width: 175px;
	height: 58px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background-color: #eaeaea;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	/*font-style: italic;*/
}
.about-nav button:focus {
	background-color: #00ccff;
	color: #fff;
}
.about-cont {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 3rem;
}
.about-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}
.about-item-img {
	margin-right: 1rem;
	width: 200px;
	height: 105px;
	background-color: #eaeaea;
	-webkit-transform: skew(-10deg);
	   -moz-transform: skew(-10deg);
	     -o-transform: skew(-10deg);
}
.about-item-img-active {
	background-color: #00ccff;
}
.about-item-img img {
	transform: none;
	margin: auto;
	margin-top: 1rem;
  	display: block;
}
.about-item h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin: 0;
}
.about-item p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #adadad;
}
.about-items {
	display: grid;
	grid-template-rows: repeat(2, 150px);
	grid-template-columns: repeat(2, 400px);
	grid-gap: 30px;
}
.skills {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 1;
}
.skills:after {
	background: inherit;
	bottom: 0;
	content: '';
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	right: 0;
	transform: skewY(-10deg);
	transform-origin: 100%;
	z-index: -1;
}
.our-skills {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	margin-top: 5rem;
}
.our-skills h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 24px;
	color: #666666;
	text-transform: uppercase;
}
.our-skills p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #666666;
	width: 50%;
	text-align: center;
}
.skills-stat {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
	margin-top: 5rem;
}
.stat-curcle {
	position: relative;
}
.stat-curcle span {
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 30px;
	color: #666666;
	top: 37%;
    left: 33%;
}
.stat-item {
	width: 11%;
}
.stat-item h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 20px;
	color: #666666;
	text-transform: uppercase;
	text-align: center;
}
.stat-item p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #acacac;
	text-align: center;
}
.team {
	width: 100%;
	min-height: 1000px;
	background-image: url(../img/close-up-laptop-keyboard_385-19321342.png);
	-webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
clip-path: polygon(0 0, 1600px 0, 1600px 80%, 0 100%);
}
.team-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
}
.team-desc-1 h3 {
	margin-top: 15rem;
	margin-bottom: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 30px;
	color: #fff;
}
.team-desc-1 span {
	color: #00ccff;
}
.team-desc-1 p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
	color: #fff;
}
.team-desc-2 {
	width: 50%;
	position: relative;
}
.team-desc-2::before {
	content: url('../img/Shape-2-copy-6.png');
	position: absolute;
    left: -80px;
    top: 16.5rem;
}
.team-desc-2 p {
	margin-top: 20rem;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
}
.team-items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
	margin-top: 5rem;
}
.team-item {
	width: 14%;
}
.team-item-img {
	background-image: url(..//img/78.png);
	width: 179px;
	height: 180px;
	border-radius: 50%;
}
.team-item .overlay {
	background:rgba(0,0,0,.8);
	height: 100%;
	opacity:0;
	border-radius: 50%;
	transition: opacity .25s ease-out;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.team-item .overlay:hover {
	opacity: 1;
}
.overlay-socials {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}
.overlay-socials a {
	margin: 0.5rem;
	color: #fff;
}
.overlay-socials a:hover {
	color: #00e4ff;
	transition: color .25s ease-out;
}
.team-item h4 {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 0.5rem;
}
.team-item span {
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #00e4ff;
	text-align: center;
}
.team-item p {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: white;
}
.figure-2 {
	z-index: -1;
    bottom: 11rem;
    position: relative;
    left: 0;
    width: 0;
    height: 0;
    border-top: 12rem solid #00ccff;
    border-left: 84.3rem solid transparent;
}
.our-services {
	width: 100%;
	min-height: 800px;
}
.services-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
}
.services-desc-1 h3 {
	margin-bottom: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 30px;
	color: #00ccff;
}
.services-desc-1 span {
	color: #ffae00;
}
.services-desc-1 p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
	color: #666666;
}
.services-desc-2 {
	width: 50%;
	position: relative;
}
.services-desc-2:before {
	content: url('../img/Shape-2-copy-5.png');
	position: absolute;
    left: -70px;
    top: 0;
}
.services-desc-2 p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #666666;
	margin-top: 4rem;
}
.services-middle {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 5rem;
}
.services-items {
	display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(2, 400px);
    grid-gap: 30px;
}
.services-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}
.services-item-img {
	margin-right: 1rem;
	width: 350px;
	height: 105px;
	background-color: #00ccff;
	-webkit-transform: skew(-10deg);
	   -moz-transform: skew(-10deg);
	     -o-transform: skew(-10deg);
}
.services-item-img img {
	transform: none;
    margin: auto;
    margin-top: 1.5rem;
    display: block;
}
.services-item-text h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin: 0;
}
.services-item-text p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #adadad;
}
.facts {
	width: 100%;
	min-height: 700px;
	background-color: #f7f7f7;
}
.facts-desc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
}
.facts-desc h4 {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	color: #666;
	margin-top: 5rem;
}
.facts-desc p {
	color: #666;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	width: 60%;
	text-align: center;
}
.facts-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
	margin-top: 5rem;
}
.facts-block-item {
	width: 15%;
	height: 260px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}
.facts-icon {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	margin-bottom: 1rem;
	width: 100%;
	height: 60px;
}
.facts-info h5 {
	color: #0cf;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 1rem;
}
.facts-info span {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 52px;
	font-weight: 300;
	text-align: center;
	display: block;
}
.our-work {
	width: 100%;
	min-height: 1000px;
}
.our-work-desc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
	margin-top: 5rem;
}
.our-work-desc-1 h3 {
	margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #00ccff;
}
.our-work-desc-1 span {
    color: #ffae00;
}
.our-work-desc-1 p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    color: #666666;
}
.our-work-desc-2 {
    width: 50%;
    position: relative;
}
.our-work-desc-2 p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-top: 4rem;
}
.our-work-desc-2:before {
	content: url('../img/Shape-2-copy-5.png');
	position: absolute;
    left: -70px;
    top: 0;
}
.our-work-items {
	display: grid;
	grid-template-rows: repeat(2, 420px);
	grid-template-columns: repeat(3, 420px);
	grid-gap: 20px;
	margin: 2rem;
}
.our-work-item:nth-child(1) {
	background-image: url(..//img/tracks.png);
	opacity: .3;
	transition: opacity .25s ease-out;
}
.our-work-item:nth-child(2) {
	background-image: url(..//img/bXoAlw8gT66vBo1wcFoO_IMG_9181.png);
	opacity: .3;
	transition: opacity .25s ease-out;
}
.our-work-item:nth-child(3) {
	background-image: url(..//img/Vo7YbYQQ8iyOo4J9bOoj_ggb24.png);
	opacity: .3;
	transition: opacity .25s ease-out;
}
.our-work-item:nth-child(4) {
	background-image: url(..//img/photo-1416431168657-a6c4184348ab.png);
	opacity: .3;
	transition: opacity .25s ease-out;
	grid-row: 2 / 3;
	grid-column: 1 / 3;
}
.our-work-item:nth-child(5) {
	background-image: url(..//img/IMG_6931-1300x866.png);
	opacity: .3;
	transition: opacity .25s ease-out;
}
.our-work-layer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
	transition: opacity .25s ease-out;
}
.our-work-layer:hover {
	opacity: 1;
}
.our-work-item:hover {
	opacity: 1;
}
.our-work-layer h5 {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	font-weight: 300;
	margin-bottom: 1rem;
}
.our-work-layer p {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 400;
	width: 80%;
	text-align: center;
}
.our-work-layer button {
	width: 336px;
	height: 62px;
	background-color: transparent;
	border-color: #333333;
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 400;
	cursor: pointer;
}
.our-work-layer button a {
	text-decoration: none;
	color: #333;
}
.recent-work {
	width: 100%;
	min-height: 1100px;
}
.recent-desc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	margin-top: 5rem;
}
.recent-desc h2 {
	color: #666;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
.recent-desc p {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 400;
}
.recent-buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 3rem;
}
.recent-buttons button {
	width: 108px;
	height: 33px;
	border: 1px solid #ccc;
	border-radius: 2px;
	cursor: pointer;
	margin: 5px;
}
.recent-buttons button:focus {
	background-color: #00ccff;
	color: #fff;
}
.recent-items-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 3rem;
}
.recent-items {
	display: grid;
	grid-template-rows: repeat(3, 160px);
	grid-template-columns: repeat(3, 300px);
	grid-gap: 20px;
}
.recent-item:nth-child(1) {
	background-image: url(..//img/50-most-wanted-resources-of-all-kinds9.png);
}
.recent-item:nth-child(2) {
	background-image: url(../img/50-most-wanted-resources-of-all-kinds33.png);
}
.recent-item:nth-child(3) {
	background-image: url(../img/best-freebies-tools-developers-designers_0071.png);
}
.recent-item-2:nth-child(1) {
	background-image: url(../img/50-most-wanted-resources-of-all-kinds7.png);
}
.recent-item-2 {
	background-image: url(../img/50-most-wanted-resources-of-all-kinds7.png);
}
.recent-item-3 {
	background-image: url(../img/50-most-wanted-resources-of-all-kinds31.png);
}
.recent-item-4 {
	background-image: url(../img/50-most-wanted-resources-of-all-kinds32.png);
}
.recent-item-desc h5 {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}
.recent-item-desc p {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}
.recent-load-more {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 4rem;
}
.recent-load-more button {
	width: 141px;
	height: 33px;
	background-color: #0cf;
	border-radius: 2px;
	cursor: pointer;
	border: none;
}
.recent-load-more button span {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
}
.figure-3, .figure-4 {
	z-index: -1;
    bottom: 11rem;
    position: relative;
    left: 0;
    width: 0;
    height: 0;
    border-top: 12rem solid #00ccff;
    border-left: 84.3rem solid transparent;
}
.team-2 {
	min-height: 800px;
}
.team-carousel {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.team-twitter-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	padding-top: 15rem;
}
.team-twitter-item p {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	width: 50%;
	text-align: center;
}
.team-twitter-item .fa-twitter, .team-twitter-item .fa-quote-right {
	color: #00ccff;
}
.team-carousel .owl-dots {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}
.team-carousel .owl-dots button {
	background-color: #cccccc;
    border: 1px solid darkgray;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    transition: background-color 0.4s;
    display: inline-block;
    margin: 5px;
    outline: none;
}
body > main > section.team.team-2 > div.owl-carousel.team-carousel.owl-loaded.owl-drag > div.owl-dots > button.owl-dot.active {
	background-color: #999999;
	transition: background-color 0.4s;
}
.team-twitter-desc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}
.team-twitter-desc p {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-weight: 400;
}
.team-twitter-desc a {
	text-decoration: none;
	color: #00ccff;
}
.our-testimonial {
	width: 100%;
	min-height: 700px;
}
.our-testimonial-desc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
}
.our-testimonial-desc h3 {
	margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #00ccff;
}
.our-testimonial-desc-1 span {
    color: #ffae00;
}
.our-testimonial-desc-1 p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    color: #666666;
}
.our-testimonial-desc-2 {
    width: 50%;
    position: relative;
}
.our-testimonial-desc-2:before {
    content: url(../img/Shape-2-copy-5.png);
    position: absolute;
    left: -70px;
    top: 0;
}
.our-testimonial-desc-2 p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-top: 4rem;
}
.our-testimonial-tech {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
	margin-top: 5rem;
}
.our-testimonial-tech img {
	margin: 2rem;
}
.testimonial-item {
	width: 80%;
	height: 200px;
	background-color: #f7f7f7;
	border: 1px solid #efefef;
	border-radius: 4px;
}
.testimonial-item > p {
	font-family: 'Lato', sans-serif;
	font-style: italic;
    font-size: 16px;
    color: #999999;
    width: 90%;
    padding-left: 1rem;
    padding-top: 2rem;
}
.our-testimonial .testimonial-item .testimonial-item-person img {
	width: auto;
}
.testimonial-item-person {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
    padding-top: 2rem;
    padding-left: 1rem;
}
.testimonial-item-person-name {
	margin-left: 1rem;
}
.testimonial-item-person-name p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
    font-size: 12px;
    color: #999999;
}
.testimonial-item-person-name a {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
    font-size: 14px;
    color: #0099ff;
    text-decoration: none;
}
body > main > section.our-testimonial > div.owl-carousel.testimonial-carousel.owl-loaded.owl-drag {
	width: 95%;
	padding-left: 3rem;
}
.testimonial-carousel .owl-dots {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}
.testimonial-carousel .owl-dots button {
	background-color: #cccccc;
    border: 1px solid darkgray;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    transition: background-color 0.4s;
    display: inline-block;
    margin: 5px;
    outline: none;
}
body > main > section.our-testimonial > div.owl-carousel.testimonial-carousel.owl-loaded.owl-drag > div.owl-dots > button.owl-dot.active {
	background-color: #999999;
	transition: background-color 0.4s;
}
.pricing {
	width: 100%;
	min-height: 1100px;
	background-color: #f7f7f7;
	clip-path: polygon(0 0, 1600px 0, 1600px 80%, 0 100%);
}
.pricing-desc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
	padding-top: 5rem;
}
.pricing-desc h3 {
	margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #00ccff;
    text-transform: uppercase;
}
.pricing-desc-1 span {
    color: #ffae00;
}
.pricing-desc-1 p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    color: #666666;
}
.pricing-desc-2 {
    width: 50%;
    position: relative;
}
.pricing-desc-2:before {
    content: url(../img/Shape-2-copy-5.png);
    position: absolute;
    left: -70px;
    top: 0;
}
.pricing-desc-2 p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-top: 5rem;
}
.pricing-plans {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
	padding-top: 6rem;
}
.pricing-plans-item .basic-plan {
	width: 220px;
	height: 82px;
	background-color: #0cf;
}
.pricing-plans-item .basic-plan span {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-weight: 700;
	text-align: center;
	display: block;
	padding-top: 2rem;
}
.pricing-plans-item .plan-desc {
	padding-top: 2rem;
	text-align: center;
}
.pricing-plans-item .plan-desc sup {
	font-family: 'Lato', sans-serif;
	font-size: 36px;
	font-weight: 700;
}
.pricing-plans-item .plan-desc span {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 61px;
	font-weight: 700;
}
.pricing-plans-item .plan-desc sub {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 400;
}
.pricing-plans-item .plan-desc ul {
	list-style-type: none;
	padding: 0;
}
.pricing-plans-item .plan-desc ul li {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
}
.pricing-plans-item .plan-desc button {
	margin-top: 1rem;
	width: 121px;
	height: 38px;
	border: 1px solid #333;
	border-radius: 4px;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: transparent;
}
.pricing-plans-item .plan-desc p {
	color: #999;
	font-family: Lato;
	font-size: 11px;
	font-weight: 400;
	line-height: 40px;
}
.team-3 {
	margin-top: -13rem;
}
.touch {
	width: 100%;
	min-height: 800px;
}
.touch-desc {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
    flex-direction: row;
}
.touch-desc-1 h3 {
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #00ccff;
    text-transform: uppercase;
}
.touch-desc-1 p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    color: #666666;
}
.touch-desc-1 span {
    color: #ffae00;
}
.touch-desc-2 {
    width: 50%;
    position: relative;
}
.touch-desc-2:before {
    content: url(../img/Shape-2-copy-5.png);
    position: absolute;
    left: -70px;
    top: 0;
}
.touch-desc-2 p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-top: 5rem;
}
.touch-middle {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
}
.touch-form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 50%;
	margin-top: 10rem;
}
body > main > section.touch > div.touch-middle > div.touch-form > form > input[type="text"]:nth-child(1), body > main > section.touch > div.touch-middle > div.touch-form > form > input[type="email"]:nth-child(2) {
	width: 255px;
	height: 50px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 5px;
	padding-left: 15px;
}
body > main > section.touch > div.touch-middle > div.touch-form > form > input[type="text"]:nth-child(3) {
	width: 540px;
	height: 50px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 5px;
	padding-left: 15px;
}
body > main > section.touch > div.touch-middle > div.touch-form > form > textarea {
	width: 540px;
	height: 161px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 5px;
	padding-left: 15px;
	padding-top: 15px;
}
body > main > section.touch > div.touch-middle > div.touch-form > form > button {
	width: 147px;
	height: 50px;
	background-color: #0cf;
	border-radius: 4px;
	cursor: pointer;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 5px;
}
.touch .touch-middle .touch-form form input::placeholder, .touch .touch-middle .touch-form form textarea::placeholder {
	color: #ccc;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.info-block {
	width: 30%;
	margin-top: 2rem;
}
.info-block h5 {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
}
.info-block p {
	color: #666;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}
.info-block ul {
	list-style-type: none;
	padding: 0;
}
.info-block ul li {
	color: #666;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 2.5rem;
}
.info-block ul .adress:before {
	content: '\f041';
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding: 15px;
}
.info-block ul .telephone:before {
	content: '\f095';
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding: 15px;
}
.info-block ul .mail:before {
	content: '\f0e0';
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding: 15px;
}
.info-block ul .mail a {
	text-decoration: none;
	color: inherit;
}
.info-block ul .clock:before {
	content: '\f017';
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding: 15px;
}
.map {
	width: 100%;
	min-height: 700px;
}
.footer-icons {
	width: 100%;
	min-height: 100px;
	background-color: #2f2e2e;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
}
.footer-icons a {
	margin: 0 1rem;
	color: #fff;
	transition: color .5s ease;
}
.footer-icons a:hover {
	color: #00e4ff;
    transition: color .5s ease;
}
.copyright {
	background-color: #00ccff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.copyright p {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.copyright span, a {
	color: #0e97b9;
	text-decoration: none;
}