header {
	width: 100%;
	min-height: 1000px;
	background-image: url(../img/14370277547_19f78ab2e3_k.png);
	background-position: center 60%;
	z-index: 2;
}
.header-section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	min-height: 200px;
}
.header-menu ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}
.header-menu ul li {
	margin: 1rem;
}
.header-menu ul li a {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
}
.header-menu ul li a:hover {
	color: #00ccff;
	transition: 0.25s ease;
}
.header-middle {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 500px;
	margin-top: 5rem;
}
.header-middle h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	text-transform: uppercase;
	/*margin-left: 5rem;*/
	margin-bottom: 2rem;
}
.middle-logo img {
	width: 180%;
	height: auto;
}
.middle-text {
	width: 60%;
	margin-top: 6rem;
}
.middle-text p {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	text-align: center;
}
.scroll {
	margin-top: 3rem;
}
.scroll-btn {
	background-image: url(../img/scroll.png);
	width: 46px;
	height: 68px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	/*outline: none;*/
}
.figure {
	z-index: -1;
    position: absolute;
    bottom: -59%;
    right: 0;
    width: 0;
    height: 0;
    border-top: 10rem solid #00ccff;
    border-left: 60rem solid transparent;
}
.about-us {
	width: 100%;
	height: 100vh;
}
.about-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
}
.about-head h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 30px;
	color: #00ccff;
	text-transform: uppercase;
}
.about-head span {
	color: #ff9900;
}
.about-head p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
}
.about-desc {
	width: 50%;
	position: relative;
}
.about-desc p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-top: 5rem;
}
.about-desc::before {
	content: url('../img/Shape-2 copy 5.png');
	position: absolute;
    left: -100px;
    top: 25px;
}
.about-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: flex-start;
	align-items: center;
	flex-direction: column;
	margin-top: 5rem;
}
.about-nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	list-style-type: none;
}
.about-nav button {
	background-color: transparent;
	border: none;
	width: 175px;
	height: 58px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background-color: #eaeaea;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
	/*font-style: italic;*/
}
.about-nav button:focus {
	background-color: #00ccff;
	color: #fff;
}
.about-cont {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 3rem;
}
.about-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}
.about-item-img {
	margin-right: 1rem;
	width: 200px;
	height: 105px;
	background-color: #eaeaea;
	-webkit-transform: skew(-10deg);
	   -moz-transform: skew(-10deg);
	     -o-transform: skew(-10deg);
}
.about-item-img-active {
	background-color: #00ccff;
}
.about-item-img img {
	transform: none;
	margin: auto;
	margin-top: 1rem;
  	display: block;
}
.about-item h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin: 0;
}
.about-item p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #adadad;
}
.about-items {
	display: grid;
	grid-template-rows: repeat(2, 150px);
	grid-template-columns: repeat(2, 400px);
	grid-gap: 30px;
}
.skills {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 1;
}
.skills:after {
	background: inherit;
	bottom: 0;
	content: '';
	display: block;
	height: 50%;
	left: 0;
	position: absolute;
	right: 0;
	transform: skewY(-10deg);
	transform-origin: 100%;
	z-index: -1;
}
.our-skills {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	margin-top: 5rem;
}
.our-skills h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 24px;
	color: #666666;
	text-transform: uppercase;
}
.our-skills p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #666666;
	width: 50%;
	text-align: center;
}
.skills-stat {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
	margin-top: 5rem;
}
.stat-curcle {
	position: relative;
}
.stat-curcle span {
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 30px;
	color: #666666;
	top: 37%;
    left: 33%;
}
.stat-item {
	width: 11%;
}
.stat-item h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 20px;
	color: #666666;
	text-transform: uppercase;
	text-align: center;
}
.stat-item p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #acacac;
	text-align: center;
}
.team {
	width: 100%;
	min-height: 1000px;
	background-image: url(../img/close-up-laptop-keyboard_385-19321342.png);
	-webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
clip-path: polygon(0 0, 1600px 0, 1600px 80%, 0 100%);
}
.team-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
}
.team-desc-1 h3 {
	margin-top: 15rem;
	margin-bottom: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 30px;
	color: #fff;
}
.team-desc-1 span {
	color: #00ccff;
}
.team-desc-1 p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
	color: #fff;
}
.team-desc-2 {
	width: 50%;
	position: relative;
}
.team-desc-2::before {
	content: url('../img/Shape-2 copy 5.png');
	position: absolute;
    left: -80px;
    top: 16.5rem;
}
.team-desc-2 p {
	margin-top: 20rem;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
}
.team-items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
	margin-top: 5rem;
}
.team-item {
	width: 14%;
}
.team-item-img {
	background-image: url(..//img/78.png);
	width: 179px;
	height: 180px;
	border-radius: 50%;
}
.team-item .overlay {
	background:rgba(0,0,0,.8);
	height: 100%;
	opacity:0;
	border-radius: 50%;
	transition: opacity .25s ease-out;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.team-item .overlay:hover {
	opacity: 1;
}
.overlay-socials {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}
.overlay-socials a {
	margin: 0.5rem;
	color: #fff;
}
.overlay-socials a:hover {
	color: #00e4ff;
	transition: color .25s ease-out;
}
.team-item h4 {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 0.5rem;
}
.team-item span {
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #00e4ff;
	text-align: center;
}
.team-item p {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: white;
}
.figure-2 {
	z-index: -1;
    bottom: 11rem;
    position: relative;
    left: 0;
    width: 0;
    height: 0;
    border-top: 12rem solid #00ccff;
    border-left: 84.3rem solid transparent;
}
.our-services {
	width: 100%;
	height: 100vh;
}
.services-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	flex-direction: row;
}
.services-desc-1 h3 {
	margin-bottom: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 30px;
	color: #00ccff;
}
.services-desc-1 span {
	color: #ffae00;
}
.services-desc-1 p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
	color: #666666;
}
.services-desc-2 {
	width: 50%;
	position: relative;
}
.services-desc-2:before {
	content: url('../img/Shape-2-copy-5.png');
	position: absolute;
    left: -70px;
    top: 0;
}
.services-desc-2 p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #666666;
	margin-top: 4rem;
}
.services-middle {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 5rem;
}
.services-items {
	display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(2, 400px);
    grid-gap: 30px;
}
.services-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
}
.services-item-img {
	margin-right: 1rem;
	width: 300px;
	height: 105px;
	background-color: #00ccff;
	-webkit-transform: skew(-10deg);
	   -moz-transform: skew(-10deg);
	     -o-transform: skew(-10deg);
}
.services-item-img img {
	transform: none;
    margin: auto;
    margin-top: 1.5rem;
    display: block;
}
.services-item-text h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin: 0;
}
.services-item-text p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #adadad;
}
