/* Landscape phones and smaller */
@media (max-width: 480px) {
	body > header > div.header-section > div.logo {
		display: none;
	}
	.header-section {
		flex-direction: column;
	}
	.header-menu ul {
		flex-direction: column;
		padding: 0;
	}
	.header-middle {
		margin-top: 0;
	}
	.header-middle h1 {
		margin-bottom: 15px;
	}
	.middle-text {
		margin-top: 0;
	}
	.figure {
		bottom: -25%;
	}
	.about-us {
		min-height: 1200px;
	}
	.about-header {
		flex-direction: column;
	}
	.about-desc::before {
		display: none;
	}
	.about-desc p {
		text-align: center;
		margin-top: 1rem;
	}
	.about-content {
		margin-top: 0;
	}
	.about-nav ul {
		flex-direction: column;
		padding: 0;
	}
	.about-nav ul li {
		padding: 5px 0;
	}
	.about-items {
		grid-template-rows: repeat(4, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}
	.about-item {
		margin: 0 25px;
	}
	.skills {
		min-height: 1300px;
	}
	.our-skills {
		margin-top: 1rem;
	}
	.skills-stat {
		flex-direction: column;
		margin-top: 0;
	}
	.stat-item {
		width: inherit;
	}
	.stat-curcle {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.stat-curcle span {
		left: 42%;
	}
	.team {
		min-height: 1300px;
		clip-path: none;
	}
	.team-header {
		flex-direction: column;
	}
	.team-desc-2 p {
		margin-top: 0;
	}
	.team-desc-2::before {
		display: none;
	}
	.team-items {
		margin-top: 0;
		flex-direction: column;
	}
	.team-item {
		width: inherit;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		flex-direction: column;
	}
	.team-item p {
		text-align: center;
	}
	.figure-2 {
		bottom: 0;
		border-top: 5rem solid #00ccff;
		border-left: 23.5rem solid transparent;
	}
	.our-services {
		min-height: 1000px;
	}
	.services-header {
		flex-direction: column;
	}
	.services-desc-2:before {
		display: none;
	}
	.services-desc-2 p {
		margin-top: 0;
		text-align: center;
	}
	.services-middle {
		margin-top: 1rem;
	}
	.services-items {
		grid-template-rows: repeat(4, 1fr);
		grid-template-columns: repeat(1, 1fr)
	}
	.services-item {
		margin: 0 25px;
	}
	.services-item-img {
		width: 100%;
	}
	.facts {
		min-height: 1000px;
	}
	.facts-block {
		margin-top: 0;
		flex-direction: column;
	}
	.facts-block-item {
		width: 100%;
	}
	.our-work {
		min-height: 2000px;
	}
	.our-work-desc {
		margin-top: 0;
		flex-direction: column;
	}
	.our-work-desc-2:before {
		display: none;
	}
	.our-work-desc-2 p {
		margin-top: 0;
		text-align: center;
	}
	.our-work-items {
		margin: 0;
		grid-template-rows: repeat(5, 1fr);
    	grid-template-columns: repeat(1, 1fr);
	}
	.our-work-item:nth-child(4) {
		grid-row: inherit;
		grid-column: inherit;
	}
	.recent-work {
		min-height: 1500px;
	}
	.recent-desc p {
		text-align: center;
	}
	.recent-buttons {
		margin-top: 0;
		flex-direction: column;
	}
	.recent-items {
		grid-template-rows: repeat(12, 1fr);
		grid-template-columns: repeat(1, 1fr);
		padding: 0 25px;
	}
	.recent-item, .recent-item-2, .recent-item-3, .recent-item-4  {
		background-repeat: round;
	}
	.team.team-2 {
		min-height: 700px;
	}
	.figure-3, .figure-4 {
		display: none;
	}
	.our-testimonial {
		min-height: 1200px;
	}
	.our-testimonial-desc {
		flex-direction: column;
	}
	.our-testimonial-desc-2:before {
		display: none;
	}
	.our-testimonial-desc-1 p {
		text-align: center;
	}
	.our-testimonial-desc-2 p {
		margin-top: 0;
		text-align: center;
	}
	.our-testimonial-tech {
		margin-top: 0;
		flex-direction: column;
	}
	body > main > section.our-testimonial > div.owl-carousel.testimonial-carousel.owl-loaded.owl-drag {
		width: 85%;
	}
	.pricing {
		min-height: 2500px;
	}
	.pricing-desc {
		padding-top: 0;
		flex-direction: column;
	}
	.pricing-desc-2:before, .touch-desc-2:before {
		display: none;
	}
	.pricing-desc-1 p {
		text-align: center;
	}
	.pricing-desc-2 p {
		margin-top: 0;
		text-align: center;
	}
	.pricing-plans {
		flex-direction: column;
		padding-top: 1rem;
	}
	.team.team-2.team-3 {
		margin-top: -16rem;
	}
	.touch {
		min-height: 1100px;
	}
	.touch-desc {
		flex-direction: column;
	}
	.touch-desc-1 p {
		text-align: center;
	}
	.touch-desc-2 p {
		margin-top: 0;
		text-align: center;
	}
	.touch-middle {
		flex-direction: column;
	}
	.touch-form {
		margin-top: 0;
		width: inherit;
	}
	body > main > section.touch > div.touch-middle > div.touch-form > form > input[type="text"]:nth-child(1), body > main > section.touch > div.touch-middle > div.touch-form > form > input[type="email"]:nth-child(2), body > main > section.touch > div.touch-middle > div.touch-form > form > input[type="text"]:nth-child(3), body > main > section.touch > div.touch-middle > div.touch-form > form > textarea {
		width: 91%;
	}
	body > main > section.touch > div.touch-middle > div.touch-form > form > button {
		position: relative;
		top: 1%;
		left: 55%
	}
	.info-block {
		margin-top: 0;
		width: inherit;
	}
	.map {
		min-height: 600px;
	}
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.figure, .figure-2, .figure-3, .figure-4 {
		display: none;
	}
	.about-desc::before {
		left: -70px;
    	top: 41px;
	}
	.about-items {
		grid-template-rows: repeat(2, 1fr);
    	grid-template-columns: repeat(2, 1fr);
	}
	.about-cont {
		margin: 2rem;
	}
	.skills-stat {
		margin: 2rem;
	}
	.stat-item {
		width: inherit;
		margin: 0 10px;
	}
	.stat-curcle span {
		left: 25%;
	}
	.team-item {
		width: inherit;
		margin: 0 10px;
	}
	.team-items {
		margin: 3rem 1rem;
	}
	.team-item-img {
		width: 170px;
	}
	.team-item h4, .team-item p, .team-item span {
		text-align: center;
	}
	.our-services {
		min-height: 750px;
	}
	.services-middle {
		margin: 3rem 1rem;
	}
	.services-items {
		grid-template-columns: repeat(2, 350px);
	}
	.facts-block-item {
		width: 20%;
	}
	.our-work-desc {
		margin-top: 3rem;
	}
	.our-work-items {
		grid-template-rows: repeat(5, 1fr);
    	grid-template-columns: repeat(1, 1fr);
	}
	.our-work {
		height: 1300px;
	}
	.recent-items {
    	grid-template-columns: repeat(3, 230px);
	}
	.our-testimonial {
		height: 1100px;
	}
	.our-testimonial-desc-2:before {
		left: -50px;
    	top: 25px;
	}
	.our-testimonial-tech {
		margin-top: 3rem;
	}
	.our-testimonial-tech {
		flex-direction: column;
	}
	body > main > section.our-testimonial > div.owl-carousel.testimonial-carousel.owl-loaded.owl-drag {
		padding-left: 5rem;
		width: 85%;
	}
	.pricing-desc {
		padding-top: 3rem;
	}
	.pricing-desc-2:before, .touch-desc-2:before {
		left: -55px;
    	top: 40px;
	}
	.pricing-plans-item .basic-plan {
		width: 185px;
	}
	body > main > section.touch > div.touch-middle > div.touch-form > form > input[type="text"]:nth-child(3) {
		width: 255px;
	}
	body > main > section.touch > div.touch-middle > div.touch-form > form > textarea {
		width: 255px;
	}
	.info-block {
		width: 35%;
	}
	.info-block ul li {
		font-size: 13px;
	}
}